<ion-header>
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  
    <ion-title>Piirkonna analüüs</ion-title>
</ion-toolbar>
</ion-header>
<ion-button routerLink="/subpageShmShP">Vaata oma positsiooni võrdlust
  <ion-icon slot="start" name="diamond"></ion-icon>
  </ion-button>

<ion-content>
<br>  
<div class="tekstselgit">  
Piirkonna analüüsi pealkiri
</div>
<br>
<div class="tekstselgit2">  
Piirkonna analüüsi tekst
</div>
<br>

<matrix-maakond></matrix-maakond>

<br><br><br>

<matrix-kovvald></matrix-kovvald>

<br>
<!--matrix-tsnwn></matrix-tsnwn-->

</ion-content>